<table border="1" class="table is-striped is-bordered is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.Id }}</td>
        <td>{{ employee.Name }}</td>
        <td>{{ employee.Age }}</td>
        <td>
          <button [routerLink]="['/employees/edit', employee.Id]" class="button">Editar</button>
          <button (click)="deleteEmployee(employee.Id)" class="button">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  